.hero {
  width: 100px;
  float: left;
  margin: 10px;
  border-radius: 50px;
}
p.twitter {
  color: aqua;
  background-color: lavenderblush;
}
a.twitter-link {
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.first-para {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: slategray;
}

button {
  background-color: aquamarine;
}

pre {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  font-weight: bolder;
  float: right;
  padding: 5px;
  background-color: aquamarine;
}

.nava {
  padding: 5px;
  color: blueviolet;
}

footer.footer {
  background-color: grey;
}

.footer-name {
  float: right;
  background-color: grey;
  padding-right: 15px;
}

dl {
  background-color: lightcyan;
  border: 2px solid;
}

table {
  background-color: lightgreen;
}

.t-header {
  background-color: aquamarine;
}

.t-data {
  background-color: aliceblue;
}

/* th {
  width: 500;
} */

.new {
  background-color: grey;
  font-size: 25px;
  color: lightblue;
  border-radius: 25px;
}

footer.p.para {
  float: right;
}
#id {
  float: left;
}

.test-header {
  background-color: antiquewhite;
  border-style: groove;
  border-color: aquamarine;
  border-radius: 20px;
}

.test-hero {
  width: 200px;
  border-radius: 100px;
  float: right;
}

p.p1-color {
  color: rgb(108, 114, 216);
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
}
p.p2 {
  color: rgb(123, 181, 123);
  font-family: Loto, sans-serif;
  font-weight: bold;
  border-style: ridge;
  border-color: brown;
}

#footer-test {
  background-color: cornsilk;
  font-size: medium;
  font-family: 'JetBrains Mono', monospace;
}

#p-footer {
  float: right;
}

.shadow-h1{
  text-shadow: 3px 3px 5px rgb(203, 132, 132), -3px -3px 5px rgb(204, 241, 117);
}

#box{
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  box-shadow: 3px 3px 5px;
}

.box-new {
  border: 2px solid;
  height: 100px;
  width: 100px;
}

#box1 {
  margin-top: 60px;
  background-color: azure;
  margin-left: 20px;
}

#box2 {
  margin-top: 30px;
  background-color: bisque;
  margin-right: 10px;
  margin-left: 10px;
}

/* Display: flow-root; for containing operflowing object inside border. */

.abhishek {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 10px;
}

.abhi2 {
  height: 100px;
  width: 100px;
  float: right;
  margin-left: 10px;
}

.float {
  border: 3px solid;
  display: flow-root;
  margin: 5px;
}

.overflow {
  border: 2px solid;
  height: 75px;
  overflow: auto;
  /* overflow-clip-margin: 13px; */
}

.display-box {
  background-color: red;
  height: 100px;
  width: 100px;
  display: block; /* inline, inline-block, none */
}

.display-span {
  background-color: aqua;
  height: 100px;
  width: 100px;
  display: block;
}

.box3 {
  border: 2px solid;
  height: auto;
  width: 30%;
  float: left;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
}

.container {
  height: 100vh;
  background-color: powderblue;
}

* {
  box-sizing: border-box;
}

#box11 {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  position: relative;
  top: -100px;
  left: -100px;
}

#box12 {
  width: 200px;
  height: 200px;
  background-color: aqua;
  position: sticky;
  top: 0px;
}

#box122 {
  width: 100px;
  height: 100px;
  background-color: rgb(50, 204, 109);
  position: absolute;
  top: 50px;
  left: 50px;
}

#background {
  background-image: url(image/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}